<!--Pulls the bse.html from the templates file -->
{% extends 'memberexperience/base.html' %}

<!--Overrides the content block from base.html and allows the data for this specific page to be updated-->
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadatea">
          {% if object.author == user %}
             <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ME-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ME-delete' object.id %}">Delete</a>
             </div>
          {% endif %}
            <h2><a class="article-title" href="#">{{ object.name }}</a></h2>
          <!-- Sets it so the only people who can update or delete posts is the user who created the post -->
              <p class="article-content">
                  Join Date - {{ object.joinDate }}
                  Follow Up Date (3 Months) - {{ object.followUp1 }}
                  Follow Up Date (6 Months) - {{ object.followUp2 }}
                  Follow Up Date (1 Year) - {{ object.followUp3 }}
              </p>
              <p>
                  <b>Sport Preferences</b>
                  <br>
                  {% for sport in object.sportPrefs.all %}
                    {{ sport }}<br>
                  {% endfor %}
              </p>
        </div>
          <p class="article-content">{{ object.notes }}</p>
      </div>
    </article>
{% endblock content %}